* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}

body { 
    width: 100%;
    margin: auto;
    padding: 4px 50px 60px 50px;
}


h1, h2, h3, h4, h5 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

/* Header & navigation bar */
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 10px;
}


.logo {
    width: 100px;
    height: 47px;
    margin-left: -25px;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin-right: 40px;
}


.navbar-li {
    font-size: 16px;
    margin: 0 15px;
}

.navacc-active, .navact-active {
    padding: 40px 0px 0px 0px;
    border-top: 2px solid transparent;
}

.navacc-active:hover, .navact-active:hover {
    color: rgb(0, 101, 252);
    border-color: rgb(0, 101, 252);
    text-decoration: none;
}

/* Search bar */
.find-place {
    font-size: 22px;
}

.downtown-nature{
    margin-top: 12px;
    margin-bottom: 0px;
}

.form {
    display: flex;
    margin-bottom: 10px;
}

.search {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px 0 15px 0;
}

.location-pin {
    object-fit: cover;
    padding: 15px 17px 15px 17px;
    border-radius: 12px 0 0 12px;
    background-color: rgb(242, 242, 242);
}

.text-box {
    border: none;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid rgb(242, 242, 242);
    padding: 5px;
    font-weight: 700;
}

.search-button {
    display: inline-block;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    border-radius: 0px 12px 12px 0px;
    padding: 12px;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

/* Filter */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.icon-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(242, 242, 242);
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    height: 50px;
    min-width: 100px;
    padding-left: 0px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
}

.fa-money-bill-wave, .fa-child-reaching, .fa-heart, .fa-dog {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: rgb(0, 101, 252);
    background-color: rgb(222, 235, 255);
    font-size: 18px;
    padding-top: 15px;
}

.icon-text {
    margin-left: 10px;
}

/* Information */
.information {
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 18px 0 20px 0;
}

.fa-info {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    border: 2px solid rgb(242, 242, 242);
    color: rgb(0, 101, 252);
    padding-top: 3px;
    padding-left: 1px;
    text-align: center;
    justify-items: center;
    font-size: 14px;
}

/* Accommodations section */

.accommodations-most-popular {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.accommodations-container {
    width: 60%;
    background-color: rgb(242, 242, 242);
    border-radius: 25px 25px 25px 25px;
}

.sections-title {
    background: rgb(242, 242, 242);
    border-radius: 15px 15px 0px 0px;
    border: solid rgb(242, 242, 242);
    padding-bottom: -5px;
}

.title-text {
    font-size: 22px;
    background: rgb(242, 242, 242);
    padding: 30px 0px  0px 39px;
    line-height: 0px;
}

.accommodations-row {
    background: rgb(242, 242, 242);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 25px 10px 25px;
    align-content: center;
}

.accommodations-card {
    background: rgb(255, 255, 255);
    width: 255px;
    height: 220px;
    margin: 10px;
    border-radius: 16px 16px 16px 16px;
    padding: 5px 5px 0px 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.accommodations-img {
    width: 100%;
    height: 125px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.text-position {
    margin-top: -12px;
    line-height: 1px;
    padding-left: 12px;
}

.price {
    font-weight: 600;
}

.blue-star {
    color: rgb(0, 101, 252);
    font-size: 14px;
}

.gray-star {
    color: rgb(228, 227, 227);
    font-size: 14px;
}


.show-more {
    font-weight: 700;
    font-size: 18px;
    background-color: rgb(242, 242, 242);
    padding-left: 50px;
    border-radius: 0px 0px 0px 25px;
}

.show-more:hover {
    color: #0065fc;
}
/* Most popular section */

.most-popular {
    padding: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 25px 25px 25px 25px;
}

.popular-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #f2f2f2;
    justify-content: center;
    padding-top: 20px;
}

.aside-title {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding-left: 20px;
}

.black-star {
    font-size: 18px;
    padding-right: 50px;
    padding-top: 20px;
    background-color: #f2f2f2;
}

.popular-card {
    display: flex;
    width: 400px;
    height: 160px;
    border-radius: 16px 16px 16px 16px;
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}

.popular-img {
    width: 150px;
    height: 150px;
    border-radius: 16px 0px 0px 16px;
    margin: 5px;
    object-fit: cover; 
}

.popular-text {
    padding-left: 12px;
    line-height: 1px;
}

.popular-stars {
    padding-top: 60px;
}




/* Activities */




/* Footer */
.container-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 5%;
    background-color: rgb(242, 242, 242);
    width: 100%;
}
  
  .footer-column {
    background-color: rgb(242, 242, 242);
  }
  
  .footer-title {
    background-color: rgb(242, 242, 242);
  }
  .footer-text {
    line-height: 10px;
  }
  
  
  
  /* Media query tablet */
  /* Media query mobile */
  