* {
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
}

img{
    width: 100px;
    height: 110;
}

ul{
    display: flex;
    list-style-type: none;
    margin-right: 40px;
}

li{
    font-size: 16px;
    margin: 0 15px;
}

a:visited{
    color: rgb(110, 104, 104);
}

a:hover{
    color: #0065FC;
}

a:active {
    background-color: rgb(255, 0, 191);
}